# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Data & Cache
data/graph.json
cache/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db


project.md
